.app__main {
  padding: 3rem 1rem;
}

.app__header {
  padding: 2rem 0;
}

.notes__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 2rem 0;
}

.app {
  padding: 1rem 1rem;
  background: lightgreen;
  border-radius: 1rem;
  min-height: 140px;
}

@media (min-width: 768px) {
  .app__main {
    padding: 3rem 3rem;
  }
  .notes__container {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
