.button {
  --scale: 48px;
  width: var(--scale);
  height: var(--scale);
  background: #000;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  transition: transform 200ms;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.08);
  z-index: 900;
}

.button:active {
  transform: scale(0.9);
}

@media (min-width: 768px) {
  .button {
    --scale: 64px;
  }
}

@media (min-width: 1200px) {
  .button {
    display: none;
  }
}
